<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
  </head>
  <body>
    <div class="row1"></div>
    <h1>WEB322 APP</h1>

    <nav>
      <div class="row2">
        <button><a href="#">Home</a></button>
        <button><a href="/products">Products</a></button>
        <button><a href="/demos">Demos</a></button>
        <button><a href="/categories">Categories</a></button>
        <li class="active"><a href="/products/add">Add Product</a></li>
      </div>
    </nav>
    <div class="row3">
      <article>
        <h2>Add Product</h2>            
                <form method="post" action="/products/add" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firstName">Feature Image</label> <br> <br>
                                <input class="form-control" id="imageFile" name="imageFile" type="file" style="width: 80%">
                            </div>
                        </div>
                    </div>
                  </fieldset>
            
                  <fieldset>
                    <legend>Product Content</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input class="form-control" id="title" name="title" type="text" style="width: 80%" >
                            </div>
                        </div>
                        <div class="col-md-24">
                            <div class="form-group">
                                <label for="body">Body:</label>
                                <input class="form-control" id="body" name="body" type="text" style="width: 80%;height: 200px;" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="category">Category</label>
                              <select class="form-control" name="category" id="category">
                                  <option value="1">Full Stack</option>
                                  <option value="2">Machine Learning</option>
                                  <option value="3">Big Data</option>
                                  <option value="4">Cloud</option>
                                  <option value="5">DevOps</option>
                                  <option value="6">Blockchain</option>
                          </select>
                      </div>
                  </div>
              </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="visibility">Visibility:</label>
                            <input class="form-control" type="checkbox" name="visibility">
                        </div>
                    </div>
                  <br> <input type="submit" class="btn btn-primary pull-right" value="Add Product">
                </form>
            </div>
        </div>
    </div>